@charset "utf-8";

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #fff;
    background-color: #000;

}

.mobile {
    display: none;
}



/* 공통적인 요소 */
.title {
    margin-bottom: 40px;
}

.title h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.title p {
    font-size: 20px;
}

.swiper {
    width: 100%;
    /* ****************** */
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/* header */
header {
    position: relative;
    z-index: 9;
    font-family: 'LeferiPoint-BlackA';

}

header>div {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>div h1 {
    font-family: 'LeferiPoint-WhiteObliqueA';

}

header>div .pc_gnb>ul {
    display: flex;
    height: 100%;
}

header>div .pc_gnb>ul>li {
    position: relative;
}

header>div .pc_gnb>ul>li>a {
    display: block;
    line-height: 100px;
    padding: 0 40px;
}

header>div .pc_gnb>ul>li .depth02 {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

header>div .pc_gnb>ul>li .depth02 li {
    padding: 10px 0;
    font-family: 'LeferiBaseType-RegularA';

}


/* main_visual */
.main_visual {
    height: calc(100vh - 100px);
}

/* cont01 */
.cont01 {
    max-width: 1440px;
    width: 95%;
    margin: 200px auto;
}

.cont01 .list {
    display: flex;
    justify-content: space-between;
}

.cont01 .list .item {
    width: 24%;
}

.cont01 .list .item figure {
    width: 100%;
    height: 25vw;
}

.cont01 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .list .item p {
    width: 100%;
    text-align: center;
    border: 1px solid #ecf5ff;
    font-size: 20px;
    padding: 20px 0;
    margin: 10px 0;
}

/* .cont02 */
.cont02 {
    background: url(../img/table03.jpg) center center / cover no-repeat;
    text-align: center;
    padding: 200px 0;
    background-attachment: fixed;
    position: relative;
}

.cont02::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    position: absolute;
    top: 0;
    left: 0;
}

.cont02>div {
    z-index: 9;
    position: relative;
}

.cont02 .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cont02 .list .item {
    /* 
    가로 : 300px
    세로 : 300px
    정원형 만들기
    테두리 : 2px 직선 색상
    아이템과 아이템 사이간격 조절 : 위아래0 좌우20px
    */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.cont02 .list .item strong {
    font-size: 25px;
    margin-bottom: 10px;
}

.cont02 .list .item p {
    line-height: 1.4;
    word-break: keep-all;
}

.cont02 .item {
    opacity: 0;
}

.cont02 .item.list0 {
    opacity: 1;
    transition: 0.5s;
}

.cont02 .item.list1 {
    opacity: 1;
    transition: 0.5s 1s;
}

.cont02 .item.list2 {
    opacity: 1;
    transition: 0.5s 1.5s;
}

.cont02 .item.list3 {
    opacity: 1;
    transition: 0.5s 2s;
}

.cont02 .item.list4 {
    opacity: 1;
    transition: 0.5s 2.5s;
}

/* footer */

footer {
    padding: 70px 0;
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
}

footer ul {
    display: flex;
    margin-bottom: 20px;
}

footer ul li {
    margin-right: 40px;
    position: relative;

}

footer ul li::before {
    content: '';
    width: 1px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    /* display: block; */
    position: absolute;
    top: 2px;
    right: -20px;
}

footer ul li:last-child::before {
    display: none;
}

@media screen and (max-width:1024px) {
    header .pc_gnb {
        display: none;
    }

    .mobile {
        display: block;
    }

    i span {
        position: absolute;
        left: -999999px;
    }

    .mobile_gnb {
        background-color: #000;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999999999999999;
        font-size: 25px;
        padding: 20px 100px;
    }

    .mobile_gnb .menu_close {
        display: block;
        text-align: right;
        padding: 20px;
    }

    .mobile_gnb .depth01 {
        margin: 10px 0;
    }

    .mobile_gnb .depth01>a {
        display: block;
        width: 100%;
        height: 70px;
        border: 1px solid #fff;
        line-height: 75px;
        padding: 0 10px;

    }

    .mobile_gnb .depth02 {
        display: none;
    }

    .mobile_gnb .depth02 li {
        border: 1px dotted #fff;
        margin: 10px 0;
        padding: 20px;

    }
}


/* 1024px */